{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}
{% block content %}


<p class="text-center lead text-info">
    <br><br><br>
    Virtual Judge is not a real online judge. It can grab problems from other regular online judges and<br>
    simulate
    submissions to other online judges.
    It aims to enable holding contests when you don't have the test data.<br><br>
    Virtual Judge currently supports the following online judges:<br>
    <a href="http://acm.sdibt.edu.cn/JudgeOnline/">SDIBT</a><br />        
    <a href="http://acm.hdu.edu.cn/">HDU</a><br />
    <a href="http://poj.org/">POJ</a> <br />           

</p>
{% endblock %}